<div class="row">
  <div [ngClass]="{ 'col-md-8 pe-0': modoEditar, 'col-md-12': !modoEditar }">
    <div class="card rounded shadow mb-3">
      <form [formGroup]="form" class="p-3">
        <div class="row">
          <div class="d-flex border-bottom">
            <h4 class="me-auto">Detalhes do Cliente</h4>
            <h4>
              <i class="fas fa-calendar-alt"></i>
            </h4>
          </div>
          <div class="col">
            <!-- {{ form.value | json }} -->
            <label>Nome</label>
            <input
              type="text"
              class="form-control"
              [ngClass]="cssValidator(f.nome)"
              formControlName="nome"
              placeholder="Insira o Nome"

            />
            <div *ngIf="f.tema?.hasError('required')" class="invalid-feedback">
              Campo Nome é obrigatório
            </div>
            <div *ngIf="f.tema?.hasError('minlength')" class="invalid-feedback">
              Campo Nome deve ter no mínimo 3 caracteres.
            </div>
            <div *ngIf="f.tema?.hasError('maxlength')" class="invalid-feedback">
              Campo Nome deve ter no máximo 50 caracteres.
            </div>
          </div>
        </div>
      </form>
    </div>
    <div class="card rounded shadow mb-3" *ngIf="modoEditar">
      <p>Form value: {{form.controls['lotes'].value| json}}</p>
        <p>Form valid: {{form.controls['lotes'].status | json}}</p>
      <div class="p-3">
        <div class="d-flex border-bottom mb-3">
          <h4 class="me-auto">Endereços Cadastrados</h4>
          <h4>
            <i class="fas fa-house"></i>
          </h4>
        </div>
        <p class="text-secondary">Clique em Logradouro para adicionar e preencher novo Logradouro</p>
        <div class="form-row p-1">
          <div [formGroup]="form" class="col">
            <div
              formArrayName="logradouros"
              *ngFor="let logradouro of logradouros.controls; let i = index"
            >
              <fieldset [formGroupName]="i" class="form-group">
                <legend class="d-flex justify-content-between capitalize">
                  {{ retornaTituloLogradouro(logradouro.get(i + ".nome").value) }}
                  <button
                    (click)="removerLogradouro(template, i)"
                    class="p-2 btn btn-sm btn-outline-danger mb-3 d-flex"
                    tooltip="Excluir Lote"
                    [adaptivePosition]="false"
                    [delay]="500"
                    placement="left"
                  >
                    <i class="fa fa-window-close m-1"></i>
                    <b class="d-none d-sm-block">Excluir</b>
                  </button>
                </legend>
                <div class="row">
                  <div class="form-group col-md-4">
                    <label>Nome</label>
                    <input
                      type="text"
                      class="form-control"
                      formControlName="nome"
                      [ngClass]="cssValidator(logradouro.get(i + '.nome'))"
                      placeholder="Lote"
                    />
                    <div
                      *ngIf="logradouro.get(i + '.nome').hasError('required')"
                      class="invalid-feedback"
                    >
                      Campo Nome é obrigatório
                    </div>
                  </div>
                </div>
                <br />
              </fieldset>
            </div>
          </div>
        </div>

        <div class="row p-1">
          <div class="col mt-4">
            <button
              (click)="adicionarLogradouro()"
              class="p-2 d-flex btn btn-outline-primary"
            >
              <i class="fa fa-plus-circle my-1"></i>
              <b class="ms-1">Logradouro</b>
            </button>
          </div>
        </div>
      </div>
      <div class="card-footer">
        <div class="col-lg-12">
          <div class="row">
            <div class="col">
              <button class="btn btn-outline-secondary mr-auto border">
                Cancelar Alteração
              </button>
            </div>
            <div class="col text-end">
              <button
                class="btn btn-success text-end"
                [disabled]="!form.controls['lotes'].valid"
                (click)="salvarLogradouro()"
              >
                Salvar Endereços
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="col-md-4" *ngIf="modoEditar">
    <div [formGroup]="form" class="card-evento-view shadow-sm">
      <div class="form-row">
        <div class="form-group m-0">
          <input
            type="file"
            #file
            (change)="onFileChange($event)"
            class="form-control is-invalid"
          />
        </div>
      </div>

      <div class="card profile-card-2 text-center">
        <div class="card-img-block mt-4">
          <img
            class="image"
            [src]="imagemUrl"
            class="img-fluid"
            (click)="file.click()"
            alt="Card image cap"
            tooltip="Upload de Nova Imagem"
            [adaptivePosition]="false"
            placement="bottom"
          />
        </div>

        <div class="card-body pt-3">
          <h4>{{ form.controls["tema"].value }}</h4>

          <p class="card-text">
            <b>Local:</b> {{ form.controls["local"].value }}

            <br />

            <b>Data:</b>
            {{ form.controls["dataEvento"].value }}
          </p>

          <hr />

          <p class="card-text">
            <b>Contatos</b><br />
            <small class="text-muted"
              >Telefone: {{ form.controls["telefone"].value }}</small
            >
            <br />
            <small class="text-muted"
              >e-mail: {{ form.controls["email"].value }}</small
            >
          </p>

          <p class="card-text">
            Capacidade:

            <small class="text-muted">{{
              form.controls["qtdPessoas"].value
            }}</small>
          </p>

          <div class="row">
            <div class="icon-block col-md-8 iconesSociais">
              <a href="">
                <i class=""></i>
              </a>
            </div>

            <!--div class="col-md-4 d-flex justify-content-center">

              <a href="#" class="btn btn-outline-primary">Participar</a>

            </div-->
          </div>
        </div>
      </div>
    </div>
  </div>

  <ng-template #template>
    <div class="modal-body text-center">
      <p>Tem certeza que quer deletar o Logradouro {{ this.logradouroAtual.nome }}</p>
      <button
        type="button"
        class="btn btn-outline-danger"
        (click)="confirmDeleteLote()"
      >
        Sim
      </button>
      &nbsp;
      <button
        type="button"
        class="btn btn-outline-primary"
        (click)="declineDeleteLote()"
      >
        Não
      </button>
    </div>
  </ng-template>
</div>
