<app-titulo [titulo]="'Willian Marciano'" [iconClass]="'fas fa-user'"></app-titulo>



<div class="container">
    <div class="left text-center">
        <img src="https://avatars.githubusercontent.com/u/34887614?v=4" alt="Developer Photo">
    </div>
    <div class="right">
        <h2>Informações de Contato</h2>
        <p>Nome: Willian Marciano</p>
        <p>E-mail: willian_marciano&#64;hotmail.com</p>
        <p>Celular: 11 97620-3297</p>
        <p>LinkedIn: <a href="https://www.linkedin.com/in/josewillianmarciano/">linkedin.com/in/josewillianmarciano</a>
        </p>
        <h3>Conhecimento em:</h3>
        <ul>
            <li>C#,</li>
            <li>.Net,</li>
            <li>Entity Framework,</li>
            <li>Identity,</li>
            <li>Java,</li>
            <li>Spring Boot,</li>
            <li>Spring Data,</li>
            <li>Api,</li>            
            <li>REST,</li>
            <li>SOAP,</li>
            <li>JWT,</li>
            <li>Angular,</li>
            <li>React,</li>            
            <li>SQL Server,</li>
            <li>MySQL,</li>
            <li>PostgreSQL,</li>
            <li>Git,</li>
            <li>GitHub,</li>
            <li>GitLab,</li>
        </ul>
    </div>
</div>