<div class="card rounded shadow-sm p-3 mb-5">
    <div class="table-responsive">
        <table class="table table-striped table-hover">
            <thead class="table-dark">
                <tr>
                    <th class="d-none d-md-table-cell">
                        <button class="btn btn-outline-light btn-sm" (click)="alterImage()">
                            <i class="{{ !exibirImagem ? 'fa fa-eye' : 'fa fa-eye-slash' }}"></i>
                            {{ !exibirImagem ? "Exibir" : "Ocultar" }} Logotipo
                        </button>
                    </th>
                    <th class="titens" scope="col">#</th>
                    <th class="titens" scope="col">Nome</th>
                    <th class="titens" scope="col">Email</th>
                    <th class="titens" scope="col">Logotipo Blob</th>
                    <th class="titens" scope="col">Endereços</th>
                </tr>
            </thead>
            <tbody>
                <tr (click)="detalheCliente(cliente.id)" style="cursor: pointer" data-bs-toggle="tooltip"
                    title="Editar Cliente">
                    <td class="d-none d-md-table-cell">
                        <img [collapse]="!exibirImagem" [isAnimated]="true" [src]="logoImage || 'assets/img/semImagem.png'"
                        [style.width.px]="larguraImagem" [style.margin.px]="margemImagem" />
                    </td>
                    <td class="titens">{{ cliente.id }}</td>
                    <td class="titens">{{ cliente.nome }}</td>
                    <td class="titens">{{ cliente.email }}</td>
                    <td class="titens">{{ cliente.logotipo.slice(0, 10) }}</td>
                    <td class="titens">
                        <button class="btn btn-primary" (click)="navegarParaLogradouros()">Visualizar Endereços</button>
                    </td>
                </tr>
            </tbody>
        </table>
        <div class="d-flex justify-content-center mt-4">
        </div>
    </div>
</div>