a {
  color: #92badd;
  display: inline-block;
  text-decoration: none;
  font-weight: 400;
}

#emailUsuario{
  margin-bottom: 15px;
}

#bodyForm {
  font-family: "Poppins", sans-serif;
  margin-bottom: 0.2rem;
  margin-top: 5rem;
  color: #ffffff;
}

#checkBox {
  margin-top: 15px;
}

.custom-control-label {
  margin-left: 8px;
};

button{
  background-color: #12ce28;
  border: none;
  color: white;
  padding: 15px;
  margin-top: 2rem;  
  margin-bottom: 2rem;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 13px;

}

button:hover  {
  background-color: #036f21;
}

button:disabled  {
  background-color: #c1c0c0;
}

button:enabled  {
  -webkit-box-shadow: 0 10px 30px 0 rgba(95,186,233,0.4);
  box-shadow: 0 10px 30px 0 rgba(95,186,233,0.4);
  -webkit-border-radius: 5px 5px 5px 5px;
  border-radius: 5px 5px 5px 5px;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}


.underlineHover:after {
  display: block;
  width: 0;
  height: 2px;
  background-color: #56baed;
  content: "";
  transition: width 0.2s;
}

.underlineHover:hover {
  color: #ffffff;
  font-weight: bold;
}

.underlineHover:hover:after {
  width: 100%;
  margin-left: 10px;
}

#jaCadastrado {
  margin-left: 1em;
  text-align: center;
}

.invalid-feedback {
  color: rgb(252, 206, 41);
  font-weight: bold;
}